doctype html
html(lang="en")
    head
        //- link(href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous")
        //- link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css")
        include ../components/panel.head.pug
        title #{title} - Moronanet
    body 
        include ../components/panel.header.pug
        include ../components/panel.sidebar.pug
        main.p-2(style="background-color: #dddddd;")
            //- design sashboard with bootstrap
            section.mt-3
                div.container-fluid
                    div.row
                        div.col-lg-12
                            div.card
                                div.card-body.shadow
                                    div.d-flex.align-items-center
                                        div
                                            h4.mb-0.fs-20.text-black
                                                | Dashboard
                                            h6.mb-0.fs-14.text-black
                                                | Welcome to Moronanet
                                        div.ms-auto
                                            ul.breadcrumb
                                                li.breadcrumb-item
                                                    a(href="#")
                                                        | Home
                                                li.breadcrumb-item.active
                                                    | Dashboard
                                    div.row
                                        div.col-lg-3.col-md-6.mt-4
                                            div.card.bg-primary
                                                div.card-body
                                                    div.row
                                                        div.col-4
                                                            i.fas.fa-cubes.text-white.fs-50
                                                        div.col-8.text-end
                                                            h4.text-white.mb-0.fs-20
                                                                | 1
                                                            h6.text-white.mb-0.fs-14
                                                                | Total Services
                                        div.col-lg-3.col-md-6.mt-4
                                            div.card.bg-warning
                                                div.card-body
                                                    div.row
                                                        div.col-4
                                                            i.fas.fa-users.text-white.fs-50
                                                        div.col-8.text-end
                                                            h4.text-white.mb-0.fs-20
                                                                | 1
                                                            h6.text-white.mb-0.fs-14
                                                                | Total Users
                                        div.col-lg-3.col-md-6.mt-4
                                            div.card.bg-danger
                                                div.card-body
                                                    div.row
                                                        div.col-4
                                                            i.fas.fa-shopping-cart.text-white.fs-50
                                                        div.col-8.text-end
                                                            h4.text-white.mb-0.fs-20
                                                                | 0
                                                            h6.text-white.mb-0.fs-14
                                                                | Total querys
                                        div.col-lg-3.col-md-6.mt-4
                                            div.card.bg-success
                                                div.card-body
                                                    div.row
                                                        div.col-4
                                                            i.fas.fa-dollar-sign.text-white.fs-50
                                                        div.col-8.text-end
                                                            h4.text-white.mb-0.fs-20
                                                                | Disabled
                                                            h6.text-white.mb-0.fs-14
                                                                | Checkout
                                    div.row
                                        div.col-lg-8
    foot 
        include ../components/panel.foot.pug
